@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
:root{
  --background: black;
  --text: white;
  --accent-color: #D0851E;
}

body {
  margin: 0;
  font-family: 'Cardo', serif;
  background-color: var(--background);
  color: var(--text);
}
